<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-button (click)="router.navigate([ '/menu' ])">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>{{ form.tittle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let section of form.sections">
    <ion-card-header>
      <ion-card-title>{{ section.tittle }}</ion-card-title>
      <ion-card-subtitle>{{ section.message }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card *ngFor="let question of section.questions">
      <ion-card-header>
        <ion-card-title>{{ question.tittle }}</ion-card-title>
      </ion-card-header>
      <ion-item button="true" *ngFor="let input of question.inputs" (click)="addResponse(input)">
        <ion-label>{{ input.message }}</ion-label>
        <ion-label>{{ input.response }}</ion-label>
      </ion-item>
     </ion-card>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" href="/user">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="deleteForm()" *ngIf ="flag">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="/login">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="sendResponses()"> SEND </ion-fab-button>
  </ion-fab>
</ion-content>
