<ion-header>
  <ion-toolbar>
    <ion-title>{{menus.title_menu}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngFor="let form of forms" [routerLink]="['/form', form.id]">
    <ion-card class="form-card" button="true">
      <ion-card-header>
        <ion-card-subtitle>Form</ion-card-subtitle>
        <ion-card-title class="titles">{{form.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{form.description}}</p>
        <ion-icon name="chevron-forward-outline" class="card-icon"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>-->
</ion-content>