<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="form" [ngClass]="{'fade-in': signupView, 'fade-out': !signupView}">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input clearInput  type="text" #name></ion-input>
      <ion-icon slot="end" name="person-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input clearInput type="email" #email></ion-input>
      <ion-icon slot="end" name="at"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input clearInput type="number" #age></ion-input>
      <ion-icon slot="end" name="hourglass-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input clearInput type="text" #gender></ion-input>
      <ion-icon slot="end" name="male-female-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input clearInput type="password" #pass></ion-input>
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input clearInput type="password" #pass2></ion-input>
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-item>
  </ion-list>  
  <ion-button expand="full" shape="round" color="primary" (click) = "singin(email.value, pass.value)">Register</ion-button>
  <ion-list>
      <ion-item>
        <ion-label >Gender</ion-label>
        <ion-icon slot="end" name="male-female-outline"></ion-icon>
      </ion-item>
      <ion-item *ngFor="let gender of genders">
        <ion-label>{{gender.description}}</ion-label>
        <ion-checkbox slot="end" ></ion-checkbox>
      </ion-item>
  </ion-list>


</ion-content>
