ion-content {
    --ion-background-color: linear-gradient(45deg, #b9b4b5, #35414b);
  }
  ion-toolbar {
    --ion-color-primary: #35414b;
    --ion-color-primary-contrast: white;
  }
  
  ion-item {
    --ion-background-color: transparent;
  }
  
  ion-fab-button {
    --ion-color-primary: transparent;
    backdrop-filter: blur(25px);
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.2)
    );
    border-radius: 50%;
  }
  
  
  
  p {
    text-align: left;
    margin-left: 3vw;
  }
  
  .questions {
    text-align: center;
  }
  .title {
    background: rgba(255, 255, 255, 0.3);
    color: black;
    backdrop-filter: blur(0.2rem);
    z-index: 4;
    border: 20px;
    border-radius: 10px;
  }