<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Form Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let question of questions" class="questions">
    <ion-card class="title">
      <h1>{{question.title_q}}</h1>
      <br />
    </ion-card>
    <p>{{question.description_q}}</p>
    <div *ngIf="question.selection == true">
      <ion-radio-group>
        <ion-item>
          <ion-label>True</ion-label>
          <ion-radio slot="start"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>False</ion-label>
          <ion-radio slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>
    <div *ngIf="question.text == true">
      <ion-input maxlength="{{question.response_size}}"
        placeholder="Enter your answer here (Max. {{question.response_size}})"></ion-input>
    </div>
    <div *ngIf="question.numeric == true">
      <ion-input inputmode="numeric" type="number" placeholder="Enter your answer here (numbers only)"></ion-input>
    </div>
    <div *ngIf="question.checklist == true">
      <ion-item>
        <ion-label>Option 1</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Option 2</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Option 3</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </div>
    <div *ngIf="question.drop_down_list == true">Es drop down list</div>
    <br />
  </div>
</ion-content>