<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ parent.tittle }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="menu-card" button="true" *ngFor="let menu of menus">
      <ion-item *ngIf ="flag">
        <ion-button  slot="end" shape="round" fill="outline" color ="medium" (click)="deleteMenu(menu)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-card-content (click)="router.navigate([ '/menu/' + menu.id ])">
        <ion-card-title class="titles">{{ menu.tittle }}</ion-card-title>
        <ion-icon name="chevron-forward-outline" class="card-icon"></ion-icon>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" href="/user">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="newMenu()" *ngIf ="flag">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="router.navigate([ '/new-form/' + this.parent.id ])" *ngIf ="(flag && menuFlag)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="/login">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>